// Navigation Styles here

.navigation {
  //   width: 150%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0;
  border-bottom: 2px dashed @navigation-border;
}

.nav {
  a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: @font-color;
    font-size: 2rem;
    margin: 0 10px;
  }
}
